@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.font-fira-sans {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* 
========================================
--------------Navbar Styles-------------
========================================
*/

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#navbar .logo h1 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.sign-in-btn {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    background: transparent;
}

